<!DOCTYPE html>
<html ng-app="todo">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "To Do" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "To Do" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <%= javascript_include_tag "angular/todo.js" %>

  </head>
  <body>
    <div id="wrap">
      <header>
        <%= render 'layouts/navigation' %>
      </header>

         <%= render 'layouts/messages' %>
         <%= yield %>
      
    </div>

  </body>
  <%= render 'layouts/footer' %>
</html>
